VIM_AUTO_RTP
doc/tags
bin/jet
bin/cljstyle
bin/zprint-clj
bin/bb
bin/joker
bin/clj-kondo
.vim-themis
.vim-sexp
.vimdoc
.cpcache
.nrepl-port
*.bak
*.pyc
target
.coverage_covimerage
coverage.xml
.clj-kondo/.cache
/vimhelp
.DS_Store
