{:paths ["clj/repl"]
 :deps {nrepl/nrepl {:mvn/version "0.8.3"}
        refactor-nrepl/refactor-nrepl {:mvn/version "2.5.1"}
        cider/cider-nrepl {:mvn/version "0.25.11"}
        com.github.liquidz/iced-nrepl {:mvn/version "1.2.8"}}
 :__middlewares__
 ["cider.nrepl/wrap-classpath"
  "cider.nrepl/wrap-clojuredocs"
  "cider.nrepl/wrap-complete"
  "cider.nrepl/wrap-debug"
  "cider.nrepl/wrap-format"
  "cider.nrepl/wrap-info"
  "cider.nrepl/wrap-macroexpand"
  "cider.nrepl/wrap-ns"
  "cider.nrepl/wrap-out"
  "cider.nrepl/wrap-refresh"
  "cider.nrepl/wrap-spec"
  "cider.nrepl/wrap-test"
  "cider.nrepl/wrap-trace"
  "cider.nrepl/wrap-undef"
  "cider.nrepl/wrap-xref"
  "refactor-nrepl.middleware/wrap-refactor"
  "iced.nrepl/wrap-iced"]

 :aliases
 {:cljs {:__command_option__ true
         :extra-deps {cider/piggieback {:mvn/version "0.5.3"}}
         :__middlewares__ ["cider.piggieback/wrap-cljs-repl"]}
  :kaocha {:__command_option__ true
           :extra-deps {kaocha-nrepl/kaocha-nrepl {:mvn/version "1.0.4"}}
           :__middlewares__ ["kaocha-nrepl.core/wrap-kaocha"]}

  :jackin {;; Must be separeted from "clj/repl" path.
           ;; c.f. https://github.com/liquidz/vim-iced/issues/175#issuecomment-575543011
           :replace-paths ["clj/jackin"]
           :extra-deps {org.panchromatic/mokuhan {:mvn/version "0.1.1"}}
           :main-opts ["-m" "iced-jackin"]}
  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "RELEASE"}
                          org.slf4j/slf4j-nop {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}
  :dev {}}}
