{
 :paths ["clj/repl"]
 :deps {nrepl {:mvn/version "0.7.0"}
        refactor-nrepl {:mvn/version "2.5.0"}
        cider/cider-nrepl {:mvn/version "0.24.0"}
        iced-nrepl {:mvn/version "1.0.1"}}
 :__middlewares__
 ["cider.nrepl/wrap-classpath"
  "cider.nrepl/wrap-clojuredocs"
  "cider.nrepl/wrap-complete"
  "cider.nrepl/wrap-debug"
  "cider.nrepl/wrap-format"
  "cider.nrepl/wrap-info"
  "cider.nrepl/wrap-macroexpand"
  "cider.nrepl/wrap-ns"
  "cider.nrepl/wrap-out"
  "cider.nrepl/wrap-spec"
  "cider.nrepl/wrap-test"
  "cider.nrepl/wrap-trace"
  "cider.nrepl/wrap-undef"
  "cider.nrepl/wrap-xref"
  "refactor-nrepl.middleware/wrap-refactor"
  "iced.nrepl/wrap-iced"]

 :aliases
 {:cljs {:__command_option__ true
         :extra-deps {cider/piggieback {:mvn/version "0.5.0"}}
         :__middlewares__ ["cider.piggieback/wrap-cljs-repl"]}
  :kaocha {:__command_option__ true
           :extra-deps {kaocha-nrepl {:mvn/version "1.0.0"}}
           :__middlewares__ ["kaocha-nrepl.core/wrap-kaocha"]}

  :jackin {;; Must be separeted from "clj/repl" path.
           ;; c.f. https://github.com/liquidz/vim-iced/issues/175#issuecomment-575543011
           :paths ["clj/jackin"]
           :extra-deps {org.panchromatic/mokuhan {:mvn/version "0.1.1"}}}
  :outdated {:extra-deps {antq {:mvn/version "RELEASE"}}
             :main-opts ["-m" "antq.core"]}
  :load-files-test {:extra-paths ["test/clj"]
                    :extra-deps {lambdaisland/kaocha {:mvn/version "1.0.632"}}
                    :main-opts ["-m" "kaocha.runner"]}
  :dev {}}
 }
