{
 :paths ["clj"]
 :deps {nrepl {:mvn/version "0.6.0"}
        refactor-nrepl {:mvn/version "2.4.0"}
        cider/cider-nrepl {:mvn/version "0.22.0-beta4"}
        iced-nrepl {:mvn/version "0.5.0"}}
 :__middlewares__
 ["cider.nrepl/wrap-classpath"
  "cider.nrepl/wrap-complete"
  "cider.nrepl/wrap-debug"
  "cider.nrepl/wrap-format"
  "cider.nrepl/wrap-info"
  "cider.nrepl/wrap-macroexpand"
  "cider.nrepl/wrap-ns"
  "cider.nrepl/wrap-out"
  "cider.nrepl/wrap-spec"
  "cider.nrepl/wrap-test"
  "cider.nrepl/wrap-trace"
  "cider.nrepl/wrap-undef"
  "cider.nrepl/wrap-xref"
  "refactor-nrepl.middleware/wrap-refactor"
  "iced.nrepl/wrap-iced"]

 :aliases
 {:cljs {:extra-deps {cider/piggieback {:mvn/version "0.4.1"}}
         :__middlewares__ ["cider.piggieback/wrap-cljs-repl"]}

  :jackin {:extra-deps {org.panchromatic/mokuhan {:mvn/version "0.1.1"}
                        org.clojure/math.combinatorics {:mvn/version "0.1.5"}}}
  :ancient {:extra-deps {olical/depot {:mvn/version "1.8.2"}}
            :main-opts ["-m" "depot.outdated.main"]}
  :doc {:extra-deps {liquidz/clj-vimhelp {:git/url "https://github.com/liquidz/clj-vimhelp"
                                          :sha "38dea58d0516f8f6bbc424da14300c831a824242"}}
        :main-opts ["-m" "vimhelp.core"]}
  :dev {}}
 }
